<div learnist-board="board" hide-board-author="false" class="ng-isolate-scope ng-scope"><div ng-show="completions" completion-meter="" completions="completions.completed" total="completions.total" class="ng-isolate-scope ng-scope" style="display: none;"><div class="complete-meter">
  <div class="completed-stats">
    <span class="completed-learnings ng-binding"> of  completed</span>
    <span class="completed" ng-show="completions == total" style="">COMPLETED!</span>
  </div>
  <div class="clear"></div>
  <div class="meter">
    <span ng-style="{width: 100*completions/total + '%'}"></span>
  </div>
</div>
<div class="clear"></div></div>
<div class="board-item-partial">
  <div ng-show="completions &amp;&amp; completions.completed == completions.total" class="completion_button complete readonly" style="display: none;"></div>
  <div class="image-info-container no-radius" board-window="board">
  <a ng-href="/users/99632/boards/21933-lean-startups" title="Lean Startups" class="image-url no-radius" href="/users/99632/boards/21933-lean-startups">
    <img ng-src="http://assets0.learni.st/board_image/259487/image/ios_sm_sq2x_lean_startup.jpg" class="image-url no-radius" src="http://assets0.learni.st/board_image/259487/image/ios_sm_sq2x_lean_startup.jpg">
  </a>
  <div class="social-overlay">
    <span ng-hide="board.views == 0" class="ng-binding" style=""><img alt="" class="first" src="/assets/viewed-4d446aa2ae69026903619a8b1abf3434.png"> 22</span>
    <span ng-hide="board.comment_count == 0" class="ng-binding" style="display: none;"><img alt="" src="/assets/comment-icon-light-ba3912cf9d1fdf0dc6671a8f8092ddc1.png"> 0</span>
    <span ng-hide="board.likes_count == 0" class="ng-binding" style="display: none;"><img alt="" src="/assets/like-icon-light-a7ca800446e366d7c48696334b625e40.png"> 0</span>
  </div>
  <div class="board-title-container">
    <h2 class="board-title"><a ng-href="/users/99632/boards/21933-lean-startups" title="Lean Startups" class="ng-binding" href="/users/99632/boards/21933-lean-startups">Lean Startups</a></h2>
  </div>
  <a ng-href="/users/99632/boards/21933-lean-startups" title="Lean Startups" class="board-item-vignette" href="/users/99632/boards/21933-lean-startups"></a>
</div>
  <div class="creator-info" ng-hide="hideAuthor" style="">
    <a ng-href="/users/99632?user_id=99632" title="Neil" class="board-creator" height="50" width="50" data-hovercard-id="99632" href="/users/99632?user_id=99632">
      <img ng-src="/assets/default-avatar/square-21cdcea3498e45acdf94732f469c9000.png" src="/assets/default-avatar/square-21cdcea3498e45acdf94732f469c9000.png">
    </a>
    <div class="authors ng-binding">
      By <a ng-href="/users/99632?user_id=99632" title="Neil" data-hovercard-id="99632" class="ng-binding" href="/users/99632?user_id=99632">Neil</a>
      
    </div>
  </div>
  <div class="clear"></div>

  <div class="description ng-binding">Lean Startups, Customer Development(Steve Blank), Lean UX, Lean Analytics</div>
</div>
</div>

<div learnist-board="board" hide-board-author="false" class="ng-isolate-scope ng-scope"><div ng-show="completions" completion-meter="" completions="completions.completed" total="completions.total" class="ng-isolate-scope ng-scope" style="display: none;"><div class="complete-meter">
  <div class="completed-stats">
    <span class="completed-learnings ng-binding"> of  completed</span>
    <span class="completed" ng-show="completions == total" style="">COMPLETED!</span>
  </div>
  <div class="clear"></div>
  <div class="meter">
    <span ng-style="{width: 100*completions/total + '%'}"></span>
  </div>
</div>
<div class="clear"></div></div>
<div class="board-item-partial">
  <div ng-show="completions &amp;&amp; completions.completed == completions.total" class="completion_button complete readonly" style="display: none;"></div>
  <div class="image-info-container no-radius" board-window="board">
  <a ng-href="/users/erica.jackson.31/boards/23993-how-to-get-hired-this-summer" title="How To Get Hired This Summer" class="image-url no-radius" href="/users/erica.jackson.31/boards/23993-how-to-get-hired-this-summer">
    <img ng-src="http://assets2.learni.st/board_image/286000/image/ios_sm_sq2x_summer-jobs-6-256x300.jpg" class="image-url no-radius" src="http://assets2.learni.st/board_image/286000/image/ios_sm_sq2x_summer-jobs-6-256x300.jpg">
  </a>
  <div class="social-overlay">
    <span ng-hide="board.views == 0" class="ng-binding" style=""><img alt="" class="first" src="/assets/viewed-4d446aa2ae69026903619a8b1abf3434.png"> 56</span>
    <span ng-hide="board.comment_count == 0" class="ng-binding" style="display: none;"><img alt="" src="/assets/comment-icon-light-ba3912cf9d1fdf0dc6671a8f8092ddc1.png"> 0</span>
    <span ng-hide="board.likes_count == 0" class="ng-binding" style=""><img alt="" src="/assets/like-icon-light-a7ca800446e366d7c48696334b625e40.png"> 1</span>
  </div>
  <div class="board-title-container">
    <h2 class="board-title"><a ng-href="/users/erica.jackson.31/boards/23993-how-to-get-hired-this-summer" title="How To Get Hired This Summer" class="ng-binding" href="/users/erica.jackson.31/boards/23993-how-to-get-hired-this-summer">How To Get Hired This Summer</a></h2>
  </div>
  <a ng-href="/users/erica.jackson.31/boards/23993-how-to-get-hired-this-summer" title="How To Get Hired This Summer" class="board-item-vignette" href="/users/erica.jackson.31/boards/23993-how-to-get-hired-this-summer"></a>
</div>
  <div class="creator-info" ng-hide="hideAuthor" style="">
    <a ng-href="/users/erica.jackson.31?user_id=28942" title="Erica Jackson" class="board-creator" height="50" width="50" data-hovercard-id="28942" href="/users/erica.jackson.31?user_id=28942">
      <img ng-src="http://assets0.learni.st/avatar/121637/image/square_48147_4504333730828_1574487664_n.jpg" src="http://assets0.learni.st/avatar/121637/image/square_48147_4504333730828_1574487664_n.jpg">
    </a>
    <div class="authors ng-binding">
      By <a ng-href="/users/erica.jackson.31?user_id=28942" title="Erica Jackson" data-hovercard-id="28942" class="ng-binding" href="/users/erica.jackson.31?user_id=28942">Erica Jackson</a>
      
    </div>
  </div>
  <div class="clear"></div>

  <div class="description ng-binding">Many people will be looking for jobs this summer. Here is advice on how to search for a summer job and make a great impression when applying for the job.</div>
</div>
</div>
