<div class="navbar navbar-inverse nav">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand visible-desktop" href="/">{{brand}}</a>

			<div class="nav-collapse">
				<div class="pull-right">
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#">
								About Us</b>
							</a>
						</li>
					</ul>
				</div>	
			</div>
		</div>
	</div>
</div>
